*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header{
    background-image: url(../img/lighting_fx_mug_clockwise.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    text-align: center;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
header div{
    display: flex;
    justify-content: space-evenly;
}
@keyframes color{
    0%{
        text-shadow: 2px 2px 0 #F507C8, 4px 4px 0 #E005FC;
    }
    12.4%{
        text-shadow: 2px 2px 0 #E005FC, 4px 4px 0 #9B07E6;
    }
    24.8%{
        text-shadow: 2px 2px 0 #9B07E6, 4px 4px 0 #7C12FF;
    }
    37.2%{
        text-shadow: 2px 2px 0 #7C12FF, 4px 4px 0 #3E07F5;
    }
    49.6%{
        text-shadow: 2px 2px 0 #3E07F5, 4px 4px 0 #2D00F7;
    }
    62%{
        text-shadow: 2px 2px 0 #7C12FF, 4px 4px 0 #3E07F5;
    }
    74.4%{
        text-shadow: 2px 2px 0 #9B07E6, 4px 4px 0 #7C12FF;
    }
    86.8%{
        text-shadow: 2px 2px 0 #E005FC, 4px 4px 0 #9B07E6;
    }
    100%{
        text-shadow: 2px 2px 0 #F507C8, 4px 4px 0 #E005FC;
    }
}
header div h1{
    animation: color 1s infinite
}
header img{
    background-color: transparent;
    width: 10%;

}
nav{
    color: white;
    position: sticky;
    top: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(45, 13, 75);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
nav div{
    display: flex;
    justify-content: space-evenly;
}
nav div a{
    color: white;
    text-decoration: none;
    padding-top: 3px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}
nav div a:hover{
    color: blueviolet;
}
section{
    width: 100%;
    display: flex;

}
.img{
    width: 100%;
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
menu{
    color: black;
    margin-top: 2%;
    margin-left: 1%;
    padding-top: 2%;
    padding-left: 2%;
    background-color: transparent;
    position: sticky; 
    height: 10%;
    width: 20%;
    top: 10%;
    border-radius: 3px;
}
#maisHardware{
    display: none;
}
#maisMonitor{
    display: none;
}
menu li{
    list-style: none;
}
menu li a{
    color: black;
    text-decoration: none;
}
menu a:hover{
    color: blueviolet;
}
button{
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}
button:hover{
    color: blueviolet;
}
menu button{
    background-color: transparent;;
    color: black;
    border: none;
}
section img{
    width: 100%;
}
div section img{
    padding-left: 20%;
    width: 50%;
}
article{
    margin: auto;
    width: 99%;
    background-color: transparent;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: colorRGB 5s infinite;
}
.produtos{
    margin-left: -78%;
    margin-top: 5%;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.produto{
    background-color: white;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    width: 85%;
    padding: 2%;
    display: inline;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 3px;
}
@keyframes colorRGB{
    0%{
        box-shadow: #00FF08 0px 19px 38px, #D9B30B 0px 15px 12px;
    }
    5%{
        box-shadow: #D9B30B 0px 19px 38px, #F03400 0px 15px 12px;
    }
    25%{
        box-shadow: #F03400 0px 19px 38px, #8C09D6 0px 15px 12px;
    }
    45%{
        box-shadow: #8C09D6 0px 19px 38px, #01A8FF 0px 15px 12px;
    }
    65%{
        box-shadow: #F03400 0px 19px 38px, #8C09D6 0px 15px 12px;
    }
    85%{
        box-shadow: #D9B30B 0px 19px 38px, #F03400 0px 15px 12px;
    }
    100%{
        box-shadow: #00FF08 0px 19px 38px, #D9B30B 0px 15px 12px;
    }
}
div section:hover{
    margin-left: 2.5%;
    padding-bottom: 5%;
    width: 95%;
    animation: colorRGB 5s infinite;
}
div section h3, h5{
    color: black;
    text-decoration: none;
}
div section h3:hover, h5:hover{
    color: blueviolet;
}
footer{
    background-color: rgb(45, 13, 75);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
    animation: colorRGB 1s infinite;
}