*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header{
    text-align: center;
    background-image: url(../img/lighting_fx_mug_clockwise.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;   
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
header div{
    display: flex;
    justify-content: space-evenly;
}
header div h1{
    animation: color 1s infinite
}
@keyframes color{
    0%{
        text-shadow: 2px 2px 0 red, 4px 4px 0 orange;
    }
    25%{
        text-shadow: 2px 2px 0 orange, 4px 4px 0 yellow;
    }
    50%{
        text-shadow: 2px 2px 0 yellow, 4px 4px 0 yellowgreen;
    }
    75%{
        text-shadow: 2px 2px 0 greenyellow, 4px 4px 0 green;
    }
    100%{
        text-shadow: 2px 2px 0 green, 4px 4px 0 blue;
    }
}
header img{
    width: 10%;
}
nav{
    position: sticky;
    top: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(45, 13, 75);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
nav div{
    display: flex;
    justify-content: space-evenly;
}
nav div p{
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 20px;
}
nav div a{
    color: white;
    text-decoration: none;
    padding-top: 3px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}
nav div a:hover{
    color: blueviolet;
}
button{
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: rgb(45, 13, 75);
    border: none;
    border-radius: 10px;
}
button:hover{
    color: blueviolet;
}
section{
    width: 85%;
    margin-top: 1%;
    margin-left: 6%;
    margin-bottom: 3%;
    display: flex;
    color: black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
section div{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    color: black;
}
.previo_img{
    padding: 1%;
    width: 30%;
}
.previo{
    padding: 10%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}
.previo:hover{
    margin-left: 0%;
    width: 140%;
}
section div img{
    width: 90%;
}
.text_align{
    text-align: center;
}
.descricao{
    padding: 1%;
    display: block;
}
#compra{
    padding: 1%;
    border-radius: 3px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.button{
    color: black;
    border-radius: 3px;
    border-color: green;
    background-color: greenyellow;
    padding: 10%;
    margin-top: 30%;
    margin-left: 45%;
}
li{
    list-style: none;
}
.text_green{
    color: green;
}