*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
}
header{
    text-align: center;
    background-color: rgb(45, 13, 75);  
    padding: 2%;
}
header div{
    display: flex;
    justify-content: space-evenly;
}
header div form{
    width: 430%;
}
form input{
    color: black;
    margin-top: 1%;
    width: 90%;
}
header img{
    width: 10%;
}
nav{
    position: sticky;
    top: 0;
    border: 1px solid rgb(68, 5, 155);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(45, 13, 75);
}
nav div{
    display: flex;
    justify-content: space-evenly;
}
nav div p{
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 20px;
    border: 1px solid rgb(78, 22, 157);
}
section{
    width: 100%;
    display: flex;

}
menu{
    padding-top: 2%;
    padding-left: 2%;
    background-color: rgb(45, 13, 75);
    position: sticky; 
    height: 10%;
    width: 20%;
    top: 10%;
}
#maisHardware{
    display: none;
}
#maisMonitor{
    display: none;
}
button{
    color: white;
    background-color: rgb(45, 13, 75);
    border: none;
}
section img{
    width: 100%;
}
div section img{
    padding-left: 20%;
    width: 50%;
}
article{
    background-color: rgb(45, 13, 75);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.produtos{
    margin-left: -78%;
    margin-top: 5%;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.produto{
    background-color: white;
    margin: 1%;
    width: 90%;
    padding: 2%;
    display: inline;
    border: 1px solid black;
    border-radius: 20px;
}