*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header{
    text-align: center;
    background-color: rgb(45, 13, 75);  
    padding: 2%;
}
header div{
    display: flex;
    justify-content: space-evenly;
}
header div form{
    width: 430%;
}
form input{
    color: black;
    margin-top: 1%;
    width: 90%;
}
header img{
    width: 10%;
}
nav{
    border: 1px solid rgb(68, 5, 155);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(45, 13, 75);
}
nav div{
    display: flex;
    justify-content: space-evenly;
}
nav div p{
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 20px;
    border: 1px solid rgb(78, 22, 157);
}
nav div a{
    color: white;
    text-decoration: none;
    padding-top: 3px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    border: 1px solid rgb(78, 22, 157);
}
nav div a:hover{
    color: blueviolet;
}
button{
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: rgb(45, 13, 75);
    border: 1px solid rgb(78, 22, 157);
    border-radius: 10px;
}
button:hover{
    color: blueviolet;
}
section{
    width: 85%;
    margin-top: 1%;
    margin-left: 6%;
    padding: 1%;
    display: flex;
    color: black;
    border: 1px solid blue;
    border-radius: 10px;
}
section div{
    color: black;
}
.previo_img{
    padding: 1%;
    width: 30%;
}
.previo{
    padding: 6%;
    border: 1px solid blue;
    border-radius: 10px;
}
section div img{
    width: 90%;
}
.text_align{
    text-align: center;
}
.descricao{
    display: block;
    border: 1px solid blue;
}
#compra{
    padding: 1%;
    border-radius: 20px;
    border: 1px solid blue;
}
.button{
    color: black;
    border-radius: 20px;
    border-color: green;
    background-color: greenyellow;
    padding: 10%;
    margin-top: 30%;
    margin-left: 50%;
}
li{
    list-style: none;
}
.text_green{
    color: green;
}