*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-repeat: round;
    width: 100%;
    height: 200px;
}
header img{
    width: 100%;
}
.logo{
    margin-left: 1%;
    margin-top: 1%;
    width: 5%;
}
nav{
    color: white;
    position: sticky;
    top: 0;
    border: 1px solid rgb(68, 5, 155);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(45, 13, 75);
}
nav div{
    display: flex;
    justify-content: space-evenly;
}
nav div p{
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 20px;
    border: 1px solid rgb(78, 22, 157);
}
nav div a{
    color: white;
    text-decoration: none;
    padding-top: 3px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    border: 1px solid rgb(78, 22, 157);
}
nav div a:hover{
    color: blueviolet;
}button{
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: rgb(45, 13, 75);
    border: 1px solid rgb(78, 22, 157);
    border-radius: 10px;
}
button:hover{
    color: blueviolet;
}
menu{
    padding-top: 2%;
    padding-left: 2%;
    background-color: rgb(45, 13, 75);
    position: sticky; 
    height: 10%;
    width: 20%;
    top: 10%;
}
#maisHardware{
    display: none;
}
#maisMonitor{
    display: none;
}
menu li a{
    color: white;
    text-decoration: none;
}
menu button{
    border: none;
}
section img{
    width: 100%;
}
div section img{
    padding-left: 20%;
    width: 50%;
}
article{
    color: white;
    background-color: rgb(45, 13, 75);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.produtos{
    margin-left: -78%;
    margin-top: 5%;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.produto{
    background-color: white;
    margin: 1%;
    width: 90%;
    padding: 2%;
    display: inline;
    border: 1px solid black;
    border-radius: 20px;
}
div section h3, h5{
    color: black;
    text-decoration: none;
}
div section h3:hover, h5:hover{
    color: blueviolet;
}